/* Primitive - Primitive/Mode 1 */
$Color-Blue-5: #020318FF;
$Color-Blue-15: #060847FF;
$Color-Blue-20: #080A5EFF;
$Color-Blue-10: #04052FFF;
$Color-Blue-25: #0A0D76FF;
$Color-Blue-30: #0C0F8DFF;
$Color-Blue-35: #0E12A4FF;
$Color-Blue-40: #1014BCFF;
$Color-Blue-45: #1217D3FF;
$Color-Blue-50: #1419EBFF;
$Color-Blue-55: #2C30EDFF;
$Color-Blue-60: #4347EFFF;
$Color-Blue-65: #5B5EF1FF;
$Color-Blue-70: #7275F3FF;
$Color-Blue-75: #898CF5FF;
$Color-Blue-80: #A1A3F7FF;
$Color-Blue-85: #B8BAF9FF;
$Color-Blue-90: #D0D1FBFF;
$Color-Blue-95: #E7E8FDFF;
$Color-Green-5: #021810FF;
$Color-Green-10: #042F21FF;
$Color-Green-15: #064731FF;
$Color-Green-20: #085E42FF;
$Color-Green-25: #0A7652FF;
$Color-Green-30: #0C8D63FF;
$Color-Green-35: #0EA473FF;
$Color-Green-40: #10BC84FF;
$Color-Green-45: #12D394FF;
$Color-Green-50: #14EBA5FF;
$Color-Green-55: #2CEDAEFF;
$Color-Green-60: #43EFB7FF;
$Color-Green-65: #5BF1C0FF;
$Color-Green-70: #72F3C9FF;
$Color-Green-75: #89F5D2FF;
$Color-Green-80: #A1F7DBFF;
$Color-Green-85: #B8F9E4FF;
$Color-Green-90: #D0FBEDFF;
$Color-Green-95: #E7FDF6FF;
$Color-Red-5: #1A0001FF;
$Color-Red-10: #330001FF;
$Color-Red-15: #4D0001FF;
$Color-Red-20: #660002FF;
$Color-Red-25: #800002FF;
$Color-Red-30: #990003FF;
$Color-Red-35: #B20003FF;
$Color-Red-40: #CC0003FF;
$Color-Red-45: #E50004FF;
$Color-Red-50: #FF0004FF;
$Color-Red-55: #FF191DFF;
$Color-Red-60: #FF3336FF;
$Color-Red-65: #FF4C4FFF;
$Color-Red-70: #FF6669FF;
$Color-Red-75: #FF8082FF;
$Color-Red-80: #FF999BFF;
$Color-Red-85: #FFB2B4FF;
$Color-Red-90: #FFCCCDFF;
$Color-Red-95: #FFE5E6FF;
$Color-Mono-0: #000000FF;
$Color-Mono-5: #0D0D0DFF;
$Color-Mono-10: #1A1A1AFF;
$Color-Mono-15: #262626FF;
$Color-Mono-20: #333333FF;
$Color-Mono-25: #404040FF;
$Color-Mono-30: #4D4D4DFF;
$Color-Mono-35: #595959FF;
$Color-Mono-40: #666666FF;
$Color-Mono-45: #737373FF;
$Color-Mono-50: #808080FF;
$Color-Mono-55: #8C8C8CFF;
$Color-Mono-60: #999999FF;
$Color-Mono-65: #A6A6A6FF;
$Color-Mono-70: #B2B2B2FF;
$Color-Mono-75: #BFBFBFFF;
$Color-Mono-80: #CCCCCCFF;
$Color-Mono-85: #D9D9D9FF;
$Color-Mono-90: #E5E5E5FF;
$Color-Mono-95: #F2F2F2FF;
$Color-Mono-100: #FFFFFFFF;
$Measurements-0: 0px;
$Measurements-1: 4px;
$Measurements-2: 8px;
$Measurements-3: 12px;
$Measurements-4: 16px;
$Measurements-5: 20px;
$Measurements-6: 24px;
$Measurements-7: 28px;
$Measurements-8: 32px;
$Measurements-9: 36px;
$Measurements-10: 40px;
$Measurements-11: 44px;
$Measurements-12: 48px;
$Measurements-13: 52px;
$Measurements-14: 56px;
$Measurements-15: 60px;
$Measurements-16: 64px;
$Measurements-17: 68px;
$Measurements-18: 72px;
$Measurements-19: 76px;
$Measurements-20: 80px;